
@{
    ViewData["Title"] = "F A I S";
}


<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fashion Club an Ecommerce Online Shopping Category  Flat Bootstrap responsive Website Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Fashion Club Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- css -->
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="~/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css" media="all" />
    <!--// css -->
    <!-- font -->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <!-- //font -->
    <script src="~/js/jquery-1.11.1.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
</head>

<body>
    <div class="header-top-w3layouts">
        <div class="container">
            <div class="col-md-6 logo-w3">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"> <img src="~/images/logo2.png" alt=" " /><h1>                F  A  I  S </h1></a>
            </div>
            <div class="col-md-6 phone-w3l">
                <ul>
                    <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></li>
                    <li>998-7049</li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="header-bottom-w3ls">
        <div class="container">
            <div class="col-md-7 navigation-agileits">
                <nav class="navbar navbar-default">
                    <div class="navbar-header nav_2">
                        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                        <ul class="nav navbar-nav ">
                            <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">INICIO</a></li>


                            <li class="dropdown ">
                                <a href="#" class="dropdown-toggle  hyper" data-toggle="dropdown"><span>ROPA<b class="caret"></b></span></a>
                                <ul class="dropdown-menu multi">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">

                                                <li><a href="women.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Women's Clothing</a></li>
                                                <li><a href="men.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Men's Clothing</a></li>
                                                <li><a href="kids.html"> <i class="fa fa-angle-right" aria-hidden="true"></i>Kid's Wear</a></li>
                                                <li><a href="party.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Party Wear</a></li>

                                            </ul>

                                        </div>
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">
                                                <li><a href="casuals.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Casuals</a></li>
                                                <li><a href="night.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Night Wear</a></li>
                                                <li><a href="formals.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Formals</a></li>
                                                <li><a href="inner.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Inner Wear</a></li>

                                            </ul>
                                        </div>
                                        <div class="col-sm-4 w3l">
                                            <a href="women.html"><img src="images/menu1.jpg" class="img-responsive" alt=""></a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle hyper" data-toggle="dropdown"><span> Personal Care <b class="caret"></b></span></a>
                                <ul class="dropdown-menu multi multi1">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">
                                                <li><a href="jewellery.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Jewellery </a></li>
                                                <li><a href="watches.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Watches</a></li>
                                                <li><a href="cosmetics.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Cosmetics</a></li>
                                                <li><a href="deos.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Deo & Perfumes</a></li>

                                            </ul>

                                        </div>
                                        <div class="col-sm-4">

                                            <ul class="multi-column-dropdown">
                                                <li><a href="haircare.html"> <i class="fa fa-angle-right" aria-hidden="true"></i>Hair Care </a></li>
                                                <li><a href="shoes.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Shoes</a></li>
                                                <li><a href="handbags.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Handbags</a></li>
                                                <li><a href="skincare.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Skin care</a></li>

                                            </ul>

                                        </div>
                                        <div class="col-sm-4 w3l">
                                            <a href="jewellery.html"><img src="images/menu2.jpg" class="img-responsive" alt=""></a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </ul>
                            </li>
                            <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Acerca">SOBRE NOSOTROS</a></li>
                            <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="contactanos">CONTACTANOS</a></li>

                            <li class="dropdown ">
                                <a href="#" class="dropdown-toggle  hyper" data-toggle="dropdown"><span>INICIA SESION/REGISTRARSE<b class="caret"></b></span></a>
                                <ul class="dropdown-menu multi">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">

                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Iniciasesion">INICIA SESION</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Registrate">REGISTRATE</a></li>

                                            </ul>

                                        </div>


                                        <div class="clearfix"></div>
                                    </div>
                                </ul>
                            </li>






                        </ul>
                    </div>
                </nav>
            </div>
            <script>
                $(document).ready(function () {
                    $(".dropdown").hover(
                        function () {
                            $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                            $(this).toggleClass('open');
                        },
                        function () {
                            $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                            $(this).toggleClass('open');
                        }
                    );
                });
                 
            </script>
            <div class="col-md-4 search-agileinfo">
                <form action="#" method="post">
                    <input type="search" name="Search" placeholder="Search for a Product..." required="">
                    <button type="submit" class="btn btn-default search" aria-label="Left Align">
                        <i class="fa fa-search" aria-hidden="true"> </i>
                    </button>
                </form>
            </div>
            <div class="col-md-1 cart-wthree">
                <div class="cart">
                    <form action="#" method="post" class="last">
                        <input type="hidden" name="cmd" value="_cart" />
                        <input type="hidden" name="display" value="1" />
                        <button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="sub-banner">
    </div>
    <div class="contact">
        <div class="container">
            <h3>Contactanos</h3>
            <div class="col-md-3 col-sm-3 contact-left">
                <div class="address">
                    <h4>DIRECCION</h4>
                    <h5>Villa Flores,</h5>
                    <h5>Santiago, Panama.</h5>
                </div>
                <div class="phone">
                    <h4>TELEFONOS</h4>
                    <h5>998-7049.</h5>
                    <h5>933-0126.</h5>
                </div>
                <div class="email">
                    <h4>EMAIL</h4>
                    <h5><a href="FAIS@gmail.com">FAIS@gmail.com</a></h5>
                    <h5><a href="SubliMar@gmail.com">SubliMar@gmail.com</a></h5>
                </div>
            </div>
            <div class="col-md-9 col-sm-9 contact-right">
                <form asp-action="Create" asp-controller="Contactes" method="post">
                    <input type="text" name="Nombre" placeholder="Nombre" required=" ">
                    <input type="email" name="Email" placeholder="Email" required=" ">
                    <input type="text" name="Asunto" placeholder="Asunto" required=" ">
                    <input type="text" name="Telefono" placeholder="Telefono" required=" ">
                    <textarea name="Mensaje" placeholder="Mensaje" required=" "></textarea>
                    <input type="submit" value="Enviar">
                </form>
            </div>
        </div>
    </div>
    <div class="map-w3ls">
        <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d3950.105639777306!2d-80.98185619959365!3d8.090708605896715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d8.0906486!2d-80.9804973!4m5!1s0x8fae738587b69f17%3A0x63016f97f431343d!2sFAIS%2C%20villa%20flores%2C%20Santiago!3m2!1d8.0906904!2d-80.9806368!5e0!3m2!1ses!2spa!4v1588101531633!5m2!1ses!2spa" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>    <!-- newsletter -->
        <div class="newsletter">
            <div class="container">
                <div class="col-md-6 w3agile_newsletter_left">
                    <h3>Suscripcion</h3>
                    <p>Suscribete a nuestro boletin de noticias.</p>
                </div>
                <div class="col-md-6 w3agile_newsletter_right">
                    <form asp-action="Create" asp-controller="Suscriptores" method="post">
                        <input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                        <input type="submit" value="Suscribir" />
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <!-- //newsletter -->
        <!-- cart-js -->
        <script src="js/minicart.js"></script>
        <script>
            w3ls1.render();

            w3ls1.cart.on('w3sb1_checkout', function (evt) {
                var items, len, i;

                if (this.subtotal() > 0) {
                    items = this.items();

                    for (i = 0, len = items.length; i < len; i++) {
                        items[i].set('shipping', 0);
                        items[i].set('shipping2', 0);
                    }
                }
            });
        </script>
        <!-- //cart-js -->
</body>
</html>



