
@{
    ViewData["Title"] = "F A I S";
}
<!--
    Author: W3layouts
    Author URL: http://w3layouts.com
    License: Creative Commons Attribution 3.0 Unported
    License URL: http://creativecommons.org/licenses/by/3.0/
-->



<!DOCTYPE html>
<html>



<!-- Head -->
<head>

    <title> E-Shop Coming soon Widget Flat Responsive Widget Template :: W3layouts</title>

    <!-- For-Mobile-Apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="E-Shop Coming soon Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //For-Mobile-Apps -->
    <!-- Style -->
    <link rel="stylesheet" href="~/css/fuente-impresionante.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/css/estilos.css" type="text/css" media="all">
    <!-- //Style -->
    <!-- Fonts -->
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Montserrat:400,700' type="text/css" media="all">
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' type="text/css" media="all">
    <!-- Fonts -->
    <!-- Font-Awesome-Icons-File -->
    <link rel="stylesheet" href="fonts/fontawesome-webfont.ttf" type="text/css" media="all">
    <!-- //Font-Awesome-Icons-File -->

</head>
<!-- //Head -->
<!-- Body -->
<body>
    <div class="banner-info">
        <h1>Sitio en mantinimiento</h1>
        <p class="agile-cc">Estamos abriendo este sitio web en breve. ¡Manténganse al tanto!</p>
        <div class="wrapper agileinfo">

            <div class="clock">
                <div class="column w3l days">
                    <div class="timer w3" id="days"></div>
                    <div class="aits text">DIAS</div>
                </div>
                <div class="column w3">
                    <div class="timer w3layouts" id="hours"></div>
                    <div class="agileits text">HORAS</div>
                </div>

                <div class="column wthree">
                    <div class="timer w3las" id="minutes"></div>
                    <div class="text aits">MINUTOS</div>
                </div>

                <div class="column siteliga">
                    <div class="timer stuoyal3w" id="seconds"></div>
                    <div class="text wthree">SEGUNDOS</div>
                </div>
            </div>

            @*<div class="newsletter agile">
                <p>Suscríbase para hacerse notar cuando lancemos..</p>
                <form action="#" method="post">
                    <input class="email aitsw3ls" type="email" placeholder="Your Email..." required="">
                    <input type="submit" class="submit" value="Submit">
                </form>
            </div>*@
            <div class="w3top-nav-right">
                <ul>
                    <li><a asp-action="Index" class="active">Inicio</a></li>
                    <li><a asp-action="Acerca">Sobre nosotros</a></li>
                    <li><a asp-action="Contactanos">Contactenos</a></li>
                </ul>
            </div>
        </div>

        <div class="footer">
            <p> &copy; 2017 E-Shop Coming soon Widget. All Rights Reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
            <!--social-icons-->
            <div class="social-text">

                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <!--/social-icons-->

        </div>
    </div>
    <!-- Custom-JavaScript-File-Links -->
    <script type="text/javascript" src="~/js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="~/js/moment.js"></script>
    <script type="text/javascript" src="~/js/moment-timezone-with-data.js"></script>
    <script type="text/javascript" src="~/js/timer.js"></script>
    <!-- //Custom-JavaScript-File-Links -->

</body>
<!-- //Body -->

</html>